.form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  /* margin-left: 300px; */
  /* justify-content: center; */
}

.form-group label {
  flex: none;
  display: block;
  width: 195px;
}

.form-group label.right-inline {
   text-align: right;  
   padding-right: 8px;
   padding-left: 10px;
   width: auto;
 }
 
 .form-group .input-control {
   flex: 1 1 auto;
   display: block;
   margin-bottom: 10px;
   margin-right: 8px;
   padding: 4px;
   margin-top: -4px;
 }

input[type=number]{
    width: 10%;
}